absl-py==2.3.1
certifi==2025.10.5
charset-normalizer==3.4.4
chili==1.8.0
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
Farama-Notifications==0.0.4
filelock==3.20.0
fonttools==4.60.1
fsspec==2025.9.0
grpcio==1.75.1
gym-notices==0.1.0
gymnasium==1.2.1
idna==3.11
Jinja2==3.1.6
kiwisolver==1.4.9
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
packaging==25.0
pandas==2.3.3
peaceful-pie @ git+https://github.com/hughperkins/peaceful-pie.git@38a0833a3eb1248dbee9054778b8cf0519644649
pillow==12.0.0
protobuf==6.33.0
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
rich==14.2.0
six==1.17.0
stable_baselines3==2.7.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
